TELEMETRY_COLLECTOR_ENV=staging
TELEMETRY_COLLECTOR_HTTP_ADDR=127.0.0.1:9601
TELEMETRY_COLLECTOR_PUBLIC_BASE_URL=https://staging.example.com
TELEMETRY_COLLECTOR_HTMLSERVD_BASE_URL=http://127.0.0.1:9400
TELEMETRY_COLLECTOR_HTMLSERVD_TOKEN=REPLACE_WITH_HTMLSERVD_TOKEN
# TELEMETRY_COLLECTOR_ALLOWED_EVENTS=page_view,link_click,cta_click,newsletter_signup
# TELEMETRY_COLLECTOR_MAX_BODY_BYTES=32768
# TELEMETRY_COLLECTOR_MAX_EVENTS=10
